apipkg==1.5
asgiref==3.2.7
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
Django==3.0.5
django-crispy-forms==1.9.0
execnet==1.7.1
Flask==1.1.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
mysql==0.0.2
mysqlclient==1.4.6
numpy==1.18.1
packaging==20.1
pep8==1.7.1
Pillow==8.1.1
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.6
pytest==5.3.5
pytest-cache==1.0
pytest-pep8==1.0.6
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
vsearch==1.0
wcwidth==0.1.8
Werkzeug==1.0.0
wrapt==1.11.2
