{% extends "base.html" %}
{% block content %}
<h2>Message statistics</h2>
{% for user in userdict %}
<b>{{user.username}} sent {{user.sent_total}} messages and recieved {{user.recv_total}} messages</b>
<details style="margin-left:20px">
<i style="color:green"><b>Messages that user sent</b></i>
<br>
{% for msg in user.msg_sent %}
<b> to {{msg.recipient}} {{msg.timestamp}}:</b>
 {{msg.content}}
<br>
{% endfor %}
<i style="color:green"><b>Messages that user recieved</b></i>
<br>
{% for msg in user.msg_recv %}
<b>from {{msg.sender}} {{msg.timestamp}}:</b>
 {{msg.content}}
<br>
{% endfor %}
<br>
</details>
{% endfor %}
{% endblock %}